Repository spider-hand/StyleConverter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint, stylelint --fix

feat: convert color styles
  plugin-src/code.ts
  plugin-src/tsconfig.json
  typings/index.ts
  ui-src/App.tsx
  ui-src/components/IconButton.module.scss
  ui-src/components/IconButton.tsx
  ui-src/components/Result.module.scss
  ui-src/components/Result.tsx
  ui-src/global.scss
  ui-src/typings/index.ts
Due: prettier --write, eslint --fix, eslint, stylelint --fix

style: change the font on textarea
  ui-src/global.scss
Due: prettier --write, stylelint --fix

fix: fix import path
  ui-src/constants/index.ts
Due: prettier --write, eslint --fix, eslint

feat: convert effect styles
  plugin-src/code.ts
Due: prettier --write, eslint --fix, eslint

chore: change plugin name
  manifest.json
  ui-src/index.html
Due: none

style: adjust some styles
  ui-src/assets/styles/_mixin.scss
  ui-src/components/Result.tsx
Due: prettier --write, eslint --fix, eslint, stylelint --fix

fix: fix option
  plugin-src/code.ts
  typings/index.ts
  ui-src/App.tsx
  ui-src/constants/index.ts
Due: prettier --write, eslint --fix, eslint

feat: update UI
  plugin-src/code.ts
  ui-src/App.tsx
  ui-src/components/Result.module.scss
  ui-src/components/Result.tsx
Due: prettier --write, eslint --fix, eslint, stylelint --fix

chore: update README
  .github/images/hero.png
  README.md
Due: none

chore: add LICENSE
  LICENSE
Due: none

feat: support linear gradient
  plugin-src/code.ts
  plugin-src/tsconfig.json
Due: prettier --write, eslint --fix, eslint

fix: apply the whole opacity
  plugin-src/code.ts
Due: prettier --write, eslint --fix, eslint

refactor: use reduce instead of map plus if statement
  plugin-src/code.ts
  typings/index.ts
Due: prettier --write, eslint --fix, eslint

Path conditions:
  prettier --write: (any of: */**/*.{js,jsx,ts,tsx}) or (any of: */**/*.{json,css,scss,md})
  eslint --fix: any of: */**/*.{js,jsx,ts,tsx}
  eslint: any of: */**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: */**/*.{css,scss}
